/*This is the master style*/
html {
  font-family: "Helvetica";
  font-size: 16px;
  color: #4A4A4A;
}

/*Initialise for desktop view*/
.desktop {
  display: inherit;
}
.mobile {
  display: none;
}

/*Shared styles*/
.globHorPadding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.secVerPadding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.topMarginBig {
  margin-top: 2rem;
}

.topMarginSmall {
  margin-top: 1.5rem;
}

.flex {
  display: flex;
}
.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.capitalize {
  text-transform: capitalize;
}
.width-100 {
  width: 100%;
}
.fineprint {
  font-size: 0.6rem;
}
.background-dark {
  background-color: #D8D8D8;
}
.background-light {
  background-color: #EAEBEC;
}
.background-white {
  background-color: #FFFFFF;
}
h1 {
  font-weight: 900;
  font-size: 2.3rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
h4 {
  font-size: 1.1rem;
  font-weight: bold;
}



/*Header and footer styling*/
header {
  font-weight: lighter;
  height: 4rem;
}

footer {
  font-weight: lighter;
  height: 4rem;
  border-top: 1px solid #EAEBEC;
}

header li,
footer li {
  display: inline-flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*Desktop logo styling*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.logo img {
  height: 3rem;
}

.logo-colmar {
  font-weight: 600;
  color: #4A4A4A;
}

.logo-academy {
  font-weight: 200;
  color: #9B9B9B;
}

/* Mobile header image sizes */
header .mobile img {
  height: 3rem;
}

/* Fix header for smaller displays */
@media (max-width: 660px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }

  footer .space-between {
    justify-content: center;
  }
}

.mediaContainer {
  overflow: hidden;
}

.mediaContainer img {
  max-width: 100%;
  max-height: auto;
  display: block;
}

.mediaContainer video {
  max-width: 100%;
  max-height: auto;
  display: block;
}

/*Containers definitions*/
.container-col-big {
  width: 60%;
}
.container-col-small {
  width: 40%;
  margin-left: 1.5rem;
}


/*Banner section*/
.banner p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 2rem auto;
}

.bannerExtraPadding {
  padding-right: 25%;
  padding-left: 8%;
}

.button {
  background-color: #4A4A4A;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  border-radius: 0.2rem;
}

/*Information section*/
.sectionTitle {
  text-align: center;
}

.info p {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5;
}

.info .quote {
  font-size: 0.8rem;
  font-weight: 500;
}


/*Small orizontal cards*/
.horizCard {
  display: flex;
  height: 10rem;
  padding: 1rem;
  align-content: flex-start;
}


.horizCard .vertical {
  width: 70%;
  justify-content: space-around;
  align-content: flex-start;
  padding: 2rem 0;
}

.horizCard .mediaContainer {
  max-height: 100%;
  max-width: 40%;
  margin-right: 1rem;
}
.horizCard img {
  display: flex;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
