/*This is the master style*/
html {
  font-family: "Helvetica";
  font-size: 16px;
  color: #4A4A4A;
}

/*Initialise for desktop view*/
.desktop {
  display: inherit;
}
.mobile {
  display: none;
}

/*Shared styles*/
.globHorPadding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.secVerPadding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.topMarginBig {
  margin-top: 2rem;
}

.topMarginSmall {
  margin-top: 1.5rem;
}

.flex {
  display: flex;
}
.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.capitalize {
  text-transform: capitalize;
}
.width-100 {
  width: 100%;
}
.fineprint {
  font-size: 0.6rem;
}
.background-dark {
  background-color: #D8D8D8;
}
.background-light {
  background-color: #EAEBEC;
}
.background-white {
  background-color: #FFFFFF;
}
h1 {
  font-weight: 900;
  font-size: 2.6rem;
}
h2 {
  font-size: 2.1rem;
  font-weight: bold;
}
h3 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 3rem;
}
h4 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
}
h5 {
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 3rem;
}
a {
  margin-top: 2rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: #3D7BDA;
  font-weight: lighter;
}


/*Header and footer styling*/
header {
  font-weight: lighter;
  height: 4rem;
}

footer {
  font-weight: lighter;
  height: 4rem;
  border-top: 1px solid #EAEBEC;
}

header li,
footer li {
  display: inline-flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*Desktop logo styling*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.logo img {
  height: 3rem;
}

.logo-colmar {
  font-weight: 600;
  color: #4A4A4A;
}

.logo-academy {
  font-weight: 200;
  color: #9B9B9B;
}

/* Mobile header image sizes */
header .mobile img {
  height: 3rem;
}

/* Fix header for smaller displays */
@media (max-width: 660px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }

  footer .space-between {
    justify-content: center;
  }
}

.mediaContainer {
  overflow: hidden;
}

.mediaContainer img {
  max-width: 100%;
  max-height: auto;
  display: block;
}

.mediaContainer video {
  max-width: 100%;
  max-height: auto;
  display: block;
}

/*Containers definitions*/
.container-col-big {
  width: 60%;
  max-width: 60%;
}
.container-col-small {
  width: 40%;
  margin-left: 1.5rem;
}


/*Banner section*/
.banner p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 2rem auto;
}

.bannerExtraPadding {
  padding-right: 25%;
  padding-left: 8%;
}

.button {
  background-color: #4A4A4A;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  border-radius: 0.2rem;
}

/*Information section*/
.sectionTitle {
  text-align: center;
}

.info p,
.thesis p {
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.6;
}

.info .quote {
  font-size: 0.8rem;
  font-weight: 500;
}

.info .horizCard:first-child {
  padding-top: 0;
}

/*Learning cards container arrangment*/
.learnGrid {
  flex-wrap: wrap;
  margin-top: 1rem;
}

/*Small orizontal cards*/
.horizCard {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
}

.horizCard .vertical {
  min-width: 70%;
  justify-content: space-around;
  align-content: flex-start;
  padding: 2rem 0;
}
.horizCard .mediaContainer {
  margin-right: 1rem;
}
.horizCard img {
   height: auto;
   max-width: 100%;
}


/*Small vertical cards*/
.vertCard {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  padding: 0;
  background-color: white;
  margin: 1rem;
  min-width: 10rem;
  max-width: 30%;
  color: #4A4A4A;
}

.vertCard .vertical {
  margin: 0;
  padding: 1rem;
  justify-content: flex-start;
}

.vertCard .mediaContainer {
  margin: 0;
}
.vertCard img {
  height: auto;
  max-width: 100%;
}
