/*This is the master style*/
html {
  font-family: "Helvetica";
  font-size: 16px;
  color: #4A4A4A;
}

/*Initialise for desktop view*/
.desktop {
  display: inherit;
}
.mobile {
  display: none;
}

/*Shared styles*/
.global-horizontal-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.section-vertical-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.capitalize {
  text-transform: capitalize;
}
.width-100 {
  width: 100%;
}
.fineprint {
  font-size: 0.6rem;
}
.background-dark {
  background-color: #D8D8D8;
}
.background-light {
  background-color: #EAEBEC;
}
.background-white {
  background-color: #FFFFFF;
}
h1 {
  font-weight: 900;
  font-size: 2.3rem;
}


/*Header and footer styling*/
header,
footer {
  font-weight: lighter;
  height: 4rem;
}
header li,
footer li {
  display: inline-flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*Desktop logo styling*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.logo img {
  height: 3rem;
}

.logo-colmar {
  font-weight: 600;
  color: #4A4A4A;
}

.logo-academy {
  font-weight: 200;
  color: #9B9B9B;
}

/* Mobile header image sizes */
header .mobile img {
  height: 3rem;
}

/* Fix header for smaller displays */
@media (max-width: 660px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }

  footer .space-between {
    justify-content: center;
  }
}

.container {
  overflow: hidden;
}

.container img {
  max-width: 100%;
  max-height: auto;
  display: block;
}

/*Containers definitions*/
.container-col-big {
  width: 60%;
}
.container-col-small {
  width: 40%;
}


/*Banner*/
.banner .container-col-small {
  margin: 2.5rem;
  line-height: 1.2;
}

.banner .container-col-small .column {
  width: 80%;
}

.banner p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 2rem auto;
}

.button {
  background-color: #4A4A4A;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  border-radius: 0.2rem;
}
